/*--------------------------------------
    eyoom (이윰빌더)
--------------------------------------*/
/* font */
body, h1, h2, h3, h4, h5, h6 {font-family: 'Noto Sans KR', sans-serif}

/* common */
.clear-after:after {content:"";display:block;clear:both}
h1, h2, h3, h4, h5, h6 {word-break:keep-all}
p, li {font-size:13px;word-break:keep-all;color:#707070}
ul, ol {margin-bottom:0}

/* 편집 버튼 */
.btn-edit-admin {position:fixed;top:230px;right:-1px;width:130px;padding:5px 10px;background:rgba(255, 255, 255, 0.9);box-shadow:0 0 1px rgba(0,0,0,.7);z-index:1100}
.btn-edit-mode-wrap {position:relative;width:100%}
.btn-edit-mode {display:none;position:absolute;width:100%;z-index:5}
.btn-edit-mode a {display:inline-block !important;width:auto;padding:1px 8px !important;color:#fff !important}
.shop-list-nav .btn-edit-mode, .shop-product .btn-edit-mode {position:relative;width:auto}

/* wraper */
.wrapper {position:relative}

/* 헤더 */
/* 헤더 탑바 */
.header-top-bar {padding:0 30px;background:#3C3C3C}
.topbar-left {float:left;width:25%}
.topbar-left .theme-link {display:flex;justify-content:flex-start}
.topbar-left .theme-link li a {display:block;padding:0 10px;line-height:35px;font-size:11px;color:#999;border-right:1px solid #4C4C4C;transition:all .3s ease}
.topbar-left .theme-link li:first-child a {border-left:1px solid #4C4C4C}
.topbar-left .theme-link li a:hover {color:#bbb;background:#2b2b2b}
.topbar-left .theme-link li.active a {background:#F2A23A;color:#fff}

.topbar-center {float:left;width:50%}
.topbar-center .goods-list {display:flex;justify-content:center;width:100%}
.topbar-center .goods-list li a {display:block;padding:0 10px;line-height:35px;font-size:11px;color:#999;border-right:1px solid #4C4C4C;transition:all .3s ease}
.topbar-center .goods-list li:first-child a {border-left:1px solid #4C4C4C}
.topbar-center .goods-list li a:hover {color:#bbb;background:#2b2b2b}

.topbar-right {float:right;width:25%}
.topbar-right .login-list {display:flex;justify-content:flex-end}
.topbar-right .login-list li a {display:block;padding:0 10px;line-height:35px;font-size:11px;color:#999;border-right:1px solid #4C4C4C;transition:all .3s ease}
.topbar-right .login-list li:first-child a {border-left:1px solid #4C4C4C}
.topbar-right .login-list li a:hover {color:#bbb;background:#2b2b2b}
@media (max-width:991px){
    .header-top-bar {padding:0 15px}
    .topbar-left {width:30%}
    .topbar-right {width:70%}
    .topbar-center {display:none}
}
@media (max-width:767px){
    .topbar-left .theme-link li a, .topbar-right .login-list li a {padding:0 8px;font-size:11px}
}

/* 헤더 이너 */
.header-inner {z-index:999;position:relative;padding:0 30px;background:#fff;box-shadow:0 0 3px rgba(0,0,0,.15)}
/* Header Nav Fixed */
@media (min-width:992px) {
    #header-fixed .header-sticky {width:100%;height:auto}
    #header-fixed .header-fixed-trans {position:fixed;top:0;left:0}
    #header-fixed .header-sticky-space.header-fixed-space-trans {clear:both;margin-bottom:90px}
}
@media (max-width:991px){
    .header-inner {padding:0 15px}
}

/* 헤더 왼쪽 - 로고 */
.header-left {position:relative;float:left;width:15%}
.logo-header h1 {margin:20px 0}
.logo-header h1 a span {line-heiht:50px;font-size:26px}
.logo-header h1 a img {max-height:50px;width:auto}

/* 헤더 중앙 - 네비게이션 */
.header-center {position:relative;float:left;width:65%}
@media (min-width: 992px) {
    .header-nav .sidebar-left-content h5 {display:none}
    .header-nav .sidebar-left-content .navbar-nav {display:flex;justify-content:center;float:none}
    .header-nav .sidebar-left-content .navbar-nav > li {padding:0 20px}
    .header-nav .sidebar-left-content .navbar-nav > li:before {content:"";position:absolute;top:50%;right:0;transform:translateY(-50%);width:1px;height:10px;background:#7a7575}
    .header-nav .sidebar-left-content .navbar-nav > li:last-child:before {display:none}
    .header-nav .sidebar-left-content .navbar-nav > li > a {padding:0;line-height:90px;font-size:15px;font-weight:700;color:#7a7575}
    .header-nav .sidebar-left-content .navbar-nav > li > a:hover, .header-nav .sidebar-left-content .navbar-nav > li > a:focus, .header-nav .sidebar-left-content .navbar-nav > li.open > a {color:#1b1b1b;background:none}
    .header-nav .sidebar-left-content .navbar-nav > li > a:after {content:"";opacity:0;position:absolute;top:50px;left:0;width:100%;height:1px;background:#1b1b1b;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-ms-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}
    .header-nav .sidebar-left-content .navbar-nav > li > a:hover:after, .header-nav .sidebar-left-content .navbar-nav > li.open > a:after {opacity:1;top:65px;height:4px}
    .header-nav .sidebar-left-content .navbar-nav > li > ul {left:50%;margin-left:-80px;padding:0;box-shadow:0 0 0 #fff}
    .header-nav .sidebar-left-content .navbar-nav > li > ul > li {position:relative}
    .header-nav .sidebar-left-content .navbar-nav > li > ul > li > a {padding: 15px;border-bottom:1px solid #ddd}
    .header-nav .sidebar-left-content .navbar-nav > li > ul > li:last-child > a {border:0 none}
    .header-nav .sidebar-left-content .navbar-nav > li > ul > li > a:hover {color:#F2A23A}
    .header-nav .sidebar-left-content .navbar-nav > li > ul > li > a .sub-caret {position:absolute;right:10px;top:50%;transform:translateY(-50%);color:#909090}
    .header-nav .sidebar-left-content .navbar-nav > li > ul > li > ul {top:5px;left:100%;padding:0 0 0 20px;margin:0 0 0 -30px}
    .header-nav .sidebar-left-content .navbar-nav > li > ul > li > ul:after {content:"\f111";font-family:'Font Awesome\ 5 Free';font-weight:900;color:#909090;position:absolute;top:8px;left:5px}
    .header-nav .sidebar-left-content .navbar-nav > li > ul > li > ul > li > a {padding:10px}
    .header-nav .sidebar-left-content .navbar-nav > li > ul > li > ul > li:last-child > a {border-bottom:0 none}
    .header-nav .sidebar-left-content .navbar-nav > li > ul > li > ul > li > a:hover {background:none;color:#F2A23A}

    /* 상품 유형 메뉴 */
    .header-nav .goods-list {display:none}
}
/* 992px 미만 메뉴 - 모바일 */
@media (max-width: 991px) {
    .sidebar.left {z-index:999;display:none;position:fixed;top:0;left:0;bottom:0;width:280px;background:rgba(255,255,255, 0.9)}
    .sidebar-left-mask {display:none}
    .sidebar-left-mask.active {display:block;position:fixed;top:0;bottom:0;left:0;right:0;z-index:998;background:#000;opacity:0.5}
    .sidebar .sidebar-left-content.active {position:relative;height:100%;width:100%;box-shadow:0 0 5px rgba(0,0,0,0.25);overflow-y:auto;-webkit-overflow-scrolling:touch}
    .header-nav .sidebar-left-content h5 {margin:0;padding:15px 20px;background:#242121;color:#fff}
    .header-nav .sidebar-left-content .navbar-nav {position:relative;margin:0;float:none}
    .header-nav .sidebar-left-content .navbar-nav > .nav-li-space {height:44px;border-bottom:none;border-top:1px solid #e5e5e5;background:#f2f2f2}
    .header-nav .sidebar-left-content .navbar-nav > li {float:none}
    .header-nav .sidebar-left-content .navbar-nav > li > a {font-size:14px;padding:10px 15px;color:#555}
    .header-nav .sidebar-left-content .navbar-nav > li a {border-bottom:1px solid #DADADA}
    .header-nav .sidebar-left-content .navbar-nav > li > .cate-dropdown-open {position:absolute;top:1px;right:0;width:40px;height:40px;line-height:40px;margin:0;padding:0;text-align:center;border:0 none;border-left:1px solid #DADADA;z-index:9}
    .header-nav .sidebar-left-content .navbar-nav > li > .cate-dropdown-open:before {content:"\f067";font-family:'Font Awesome\ 5 Free';font-weight:900;color:#656565}
    .header-nav .sidebar-left-content .navbar-nav > li > .cate-dropdown-open:hover {border-top:0}
    .header-nav .sidebar-left-content .navbar-nav > li.open > .cate-dropdown-open:before {content:"\f068";font-family:'Font Awesome\ 5 Free';font-weight:900;color:#000}
    .header-nav .sidebar-left-content .navbar-nav .open .dropdown-menu {border:0;float:none;width:auto;margin:0;padding:0;position:static;box-shadow:none;background-color:transparent}
    .header-nav .sidebar-left-content .navbar-nav .open .dropdown-menu > li > a {color:#555;line-height:26px}
    .header-nav .sidebar-left-content .navbar-nav .open .dropdown-menu > li:first-child > a {border-top:0 none}
    .header-nav .sidebar-left-content .navbar-nav .open .dropdown-menu > li > a, .header-nav .sidebar-left-content .navbar-nav .open .dropdown-menu .dropdown-header {padding:5px 15px 5px 25px}
    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {color:#fff;background:#909090}
    .header-nav .sidebar-left-content .navbar-nav > .open > a, .header-nav .sidebar-left-content .navbar-nav > .open > a:hover, .header-nav .sidebar-left-content .navbar-nav > .open > a:focus {color:#000;background:inherit}
    .header-nav .sidebar-left-content .navbar-nav > .active > a, .header-nav .sidebar-left-content .navbar-nav > .active > a:hover, .header-nav .sidebar-left-content .navbar-nav > .active > a:focus {color:#000;background:inherit}
    .header-nav .sidebar-left-content .navbar-nav .dropdown .dropdown-submenu > a {font-size:12px}
    .header-nav .sidebar-left-content .navbar-nav .open .dropdown-menu .dropdown-menu > li > a {color:#555;line-height:22px;border-top:0 none;padding:5px 15px 5px 30px}
    .header-nav .sidebar-left-content .navbar-nav .dropdown-submenu > .dropdown-menu {display:block}
    .header-nav .sidebar-left-content .navbar-nav .dropdown-menu .dropdown-submenu.active > a, .header-nav .sidebar-left-content .navbar-nav .dropdown-menu .dropdown-submenu.active > a:hover {color:#fff}

    .nav>li>a:hover, .nav>li>a:focus {background:none}
    .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {border-color:#dadada}

    /* 상품 유형 메뉴 */
    .header-nav .goods-list h5 {margin:0;padding:15px 20px;background:#242121;color:#fff}
    .header-nav .goods-list ul li a {display:block;padding:10px 15px;border-bottom:1px solid #DADADA;color:#555}
    .header-nav .goods-list ul li a:hover {color:#1b1b1b}
}

/* 헤더 오른쪽 - 아이콘 메뉴, 검색, 모바일 버튼 */
.header-right {display:flex;justify-content:flex-end;float:right;width:20%}
.shop-icon-menu {position:relative}
.shop-icon-menu-wrap {left:inherit;right:20px;width:160px;margin:-1px 0 0;padding:0;border:0 none}
.shop-icon-menu-wrap:after {content:"";position:absolute;right:0;top:-15px;border-top:15px solid transparent;border-left:15px solid transparent;border-right:15px solid #ddd}
.shop-icon-menu-wrap h5 {padding:10px;margin:0;background:#ddd;font-size:13px;font-weight:700;text-align:center}
.shop-icon-list li {float:left;width:50%}
.shop-icon-list li a {display:block;width:100%;height:80px;padding-top:10px;text-align:center;font-size:11px}
.shop-icon-list li a:hover {color:#1b1b1b}
.shop-icon-list li a i {display:block;width:40px;height:40px;text-align:center;line-height:40px;margin:0 auto 5px;font-size:14px;background:#f8f8f8;border-radius:50% !important}
.shop-icon-list li a:hover i {background:#F2A23A;color:#fff}

.shop-search {position:relative;margin-left:10px}
.shop-search-wrap {left:inherit;right:20px;width:260px;margin:-1px 0 0;padding:0;border:0 none}
.shop-search-wrap:after {content:"";position:absolute;right:0;top:-15px;border-top:15px solid transparent;border-left:15px solid transparent;border-right:15px solid #ddd}
.shop-search-wrap h5 {padding:10px;margin:0;background:#ddd;font-size:13px;font-weight:700;text-align:center}
.shop-search form {padding:10px}
.shop-search form .input input[type="text"], .shop-search form .input input[type="text"]:focus {border-width:0 0 1px !important;border-color:#707070 !important}
.shop-search form .input .button {border:0 none;background:none}

.btn-mobile {display:none}

.header-right .btn-more {margin:25px 0}
.header-right .btn-more a {display:block;height:40px;width:40px;line-height:40px;text-align:center;color:#bbb;background:#7a7575;transition:all .3s ease;border-radius:50% !important}
.header-right .btn-more a:hover {color:#fff;background:#F2A23A}
@media (max-width: 991px) {
    .header-left {width:50%}
    .header-center {width:auto}
    .header-right {width:50%}

    .logo-header h1 {margin:15px 0}
    .header-right .btn-more {margin:20px 0}
    .shop-search, .btn-mobile {margin-left:5px}
    .btn-mobile {display:block}
}

/* footer */
.footer {background-size:cover;background-position:center}
.footer-inner {padding:45px 0;background:rgba(60, 60, 60, 0.80)}
/* 푸터 로고 */
.footer-logo {position:relative;margin-bottom:30px}
.footer-logo h1 {margin:0}
.footer-logo h1 a span {line-height:50px;font-size:24px;font-weight:700;color:#eee}
.footer-logo h1 a img {max-height:50px;width:auto}
/* 푸터 정보 */
.footer-info {position:relative;font-size:12px;color:#bbb}
.footer-info a {color:#F2A23A}
.footer-info a:hover {color:#fff}
.cs-phone {margin-top:20px;font-size:36px;line-height:36px;font-weight:700;color:#F2A23A}
.cs-phone i {color:#ddd}

/* 푸터 메뉴 */
.footer-box h4 {margin:0 0 30px;font-size:20px;font-weight:700;color:#eee}
.footer-box ul li {margin-bottom:8px}
.footer-box ul li:last-child {margin-bottom:0}
.footer-box ul li a {color:#bbb;transition:all .3s ease}
.footer-box ul li a:hover {color:#eee}

/* 카피라이트 */
.copyright {padding:10px 0;background:rgba(43, 43, 43, 0.95);color:#909090;text-align:center}

@media (max-width:1199px){
    .footer-box h4 {margin:30px 0 15px}
}

/* back to top */
.back-to-top {border-radius:3px !important}
.back-to-top:hover {background:#F2A23A}

/*---------- basic-body ----------*/
.basic-body.sub-basic-body {padding:0 0 30px}
/* Page Title */
.page-title-wrap {position:relative;padding:20px 0;margin-bottom:30px;background:#fff;border-bottom:1px solid #e5e5e5}
.page-title-wrap h2 {margin:0;padding:0;font-size:22px;color:#454545;font-weight:700}
.page-title-wrap .breadcrumb {margin:3px 0 0;padding:0;background:none;font-size:12px;color:#656565}
.page-title-wrap .breadcrumb li {color:#656565}
.page-title-wrap .breadcrumb li a {color:#656565}

/* 쇼핑몰 상품 페이지 zoom 사용시 768px이하 에서는 미출력 소스 */
@media (max-width:767px){
    .zoomContainer {display:none !important}
}